*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


                                                /* les variables des couleurs */
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}


                                                /* LIEU SANS TAG; BALISES SIMPLE */
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
     background: var(--bg-color) ;
     color: var(--text-color);
}

                                                    /* LE CONTENUE DE MON ACCEUIL */
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

                                                /* Design sur tous le header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
                        /* Combinaison du code JS */
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

                                                /* LOGO */
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

                                                /* LE MENU DE LA NAVIGATION */
.navigation a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navigation a:hover,
.navigation a.active{
    color: var(--main-color);
}

                                                /* LES ICONS */
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
/* .close-outline{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
} */


  

                                                /* TOUS MON CONTENUE ACCUEIL */
.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
}
                                                /* LE PROFILE D'ACCUEIL */
                                                /* revenu du js pour inserer une image flottante */
.image-accueil img{
    width: 35vw;
    animation: imageFlottante 4s ease-in-out infinite;
}
                    /* les fonctions des images du js qui la fait floter a l'infinie */
@keyframes imageFlottante {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

                                                /* CONTENU DE MES ECRIT ACCUEIL */
.contenu-accueil h3{
    font-size: 3.2rem;
    font-weight: 700;
}
                                                /* Quelque motis sur les ecrits */
.contenu-accueil:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}
.contenu-accueil h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.contenu-accueil p{
    font-size: 1.6rem;
}
                                                /* les medias */
.media-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    color: var(--main-color);
    transition: .5s ease;
}
.media-social a:hover{
    color: var(--second-bg-color);
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

                                                    /* TELECHAGE DE MON CV */
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .4s ease;
}
.btn:hover{
    box-shadow: none;
    /* background-color: var(--bg-color);
    color: var(--main-color); */
}


                                                    /* A PROPOS */
.propos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
                                                    /* PROPOS IMG */
.propos img{
    width: 35vw;
}
.en-tete{
    text-align: center;
    font-size: 4.5rem;
}
.contenu-propos h2{
    text-align: left;
    line-height: 1.2;
}
.contenu-propos h3{
    font-size: 2.6rem;
}
.contenu-propos p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


                                                    /* PARTIE SERVICES */
.services h2{
    margin-bottom: 5rem;
}
.contenu-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
                                                /* Les differents services en tableau */
.contenu-services .services-icon{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .4s;
}
.contenu-services .services-icon:hover{
    border-color: var(--main-color);
    transform: scale(1.02);

}

                                                /* Modification sur les icones */
.services-icon ion-icon{
    font-size: 7rem;
    color: var(--main-color);
}
                                                /* Les titres */
.services-icon h3{
    font-size: 2.6rem;
}
                                                /* Le paagraphe */
.services-icon p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


                                                /* SECTION DU PORTFOLIO */
.portfolio{
    background: var(--second-bg-color);
}
                        /* l'en tete du portfolio */
.portfolio h2{
    margin-bottom: 4rem;
}
                        /* le contenu du portfolio */
.contenu-portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
                        /* les contenue img et textes */
.lieu-portfolio{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
                        /* modification de l'image */
.lieu-portfolio img{
    width: 100%;
    transition: .5s ease;
}
.lieu-portfolio:hover img{
    transform: scale(1.1);
}
                        /* contenue img */

.lieu-portfolio .protfolio-img-cont{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .3), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 .4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.lieu-portfolio:hover .protfolio-img-cont{
    transform: translateY(0);
}
                                /* l'en tete des cases */
.lieu-portfolio .protfolio-img-cont h4{
    font-size: 3rem;
}
                                /* ecrit sur les cases */
.protfolio-img-cont p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    text-align: center;
}
                                /* Icon de la case */
.protfolio-img-cont a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
                                /* icon */
.protfolio-img-cont ion-icon{
    font-size: 2rem;
    color: var(--second-bg-color);
}


                                    /* SECTION COMPETENCES */
.competences{
    min-height: auto;
    padding-bottom:7rem;
    /* background: var(--second-bg-color); */
}
.competences .ligne-competences{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.ligne-competences .col-competences{
    flex: 1 1 40rem;
}
.col-competences .titre{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.lieu-competences .contenu-competences{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
/* afficher le bacgroung d'abord puis les progress */
.lieu-competences .contenu-competences::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .4s
}
.lieu-competences .contenu-competences:hover::before{
    width: 100%;
}
.contenu-competences .progress{
    padding: 1rem 0;
}
.contenu-competences .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.contenu-competences .progress h3 span{
    color: var(--text-color);
}
.contenu-competences .progress .bar{
    height: 2rem;
    border-radius: 1rem;
    border: .2rem solid var(--main-color);
    padding: .2rem;
    margin: 1rem 0;
}
.contenu-competences .progress .bar span{
    display: block;
    height: 100%;
    border-radius: 1rem;
    background: var(--main-color);
}
/* Les fonctions du progress */
.col-competences:nth-child(1) .contenu-competences .progress:nth-child(1) .bar span{
    width: 90%;
} 
.col-competences:nth-child(1) .contenu-competences .progress:nth-child(2) .bar span{
    width: 45%;
} 
.col-competences:nth-child(1) .contenu-competences .progress:nth-child(3) .bar span{
    width: 75%;
} 
.col-competences:nth-child(1) .contenu-competences .progress:nth-child(4) .bar span{
    width: 48%;
} 

.col-competences:nth-child(2) .contenu-competences .progress:nth-child(1) .bar span{
    width: 85%;
} 
.col-competences:nth-child(2) .contenu-competences .progress:nth-child(2) .bar span{
    width: 60%;
} 
.col-competences:nth-child(2) .contenu-competences .progress:nth-child(3) .bar span{
    width: 82%;
} 
.col-competences:nth-child(2) .contenu-competences .progress:nth-child(4) .bar span{
    width: 55%;
} 


                                    /* SECTION CONTACT */
.contact{
    background: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
}
                    /* Lieu d'ecriture */
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
                    /* ecrit */
.contact form .envoie-message{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .envoie-message input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
                /* espace et classement entre les ecrits */
.contact form .envoie-message input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}


                                                        /* PIED DE PAGE DESIGNER */
.pied{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    /* background: var(--second-bg-color); */
}
.pied-text p{
    font-size: 1.6rem;
}
                    /* Design du button d'en haut */
.pied-icon-haut a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .4s ease;
}
.pied-icon-haut a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.pied-icon-haut a ion-icon{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


                                            /* ADAPTATION AU DIFERRENTE ECRANS */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }
    
    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .pied{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navigation.active{
        display: block;
    }

    .navigation a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

                                /* Responsive de l'accueil */
    .accueil{
        flex-direction: column;
    }
    .contenu-accueil h3{
        font-size: 2.6rem;
    }
    .contenu-accueil h1{
        font-size: 5rem;
    }
    .image-accueil img{
        width: 70vw;
        margin-top: 4rem;
    }

                                /* Responsivité de propos */
    .propos{
        flex-direction: column-reverse;
    }
    .propos img{
        width: 70vw;
        margin-top: 4rem;
    }

                                /* Responsivité de service */
    .services h2{
        margin-bottom: 3rem;
    }

                                /* Responsivité du porfolio */
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .contenu-portfolio{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 617px){
    .contenu-portfolio{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html {
        font-size: 50%;
    }

    .contact form .envoie-message input{
        width: 100%;
    }
}

                                /* Moi meme mes modifif sur le footer */
@media (max-width: 410px){
    html{
        font-size: 44%;
    }
    .pied{
        font-size: 100%;
        width: 100%;
        margin: auto auto;
        margin-left: .1rem;

    }
}

@media(max-width: 365px){
    .image-accueil img{
        width: 90vw;
    }
    
    .propos-img img{
        width: 90vw;
    }

    .pied p{
        text-align: center;
        /* font-size: .001rem */
        margin-top: 2rem;
    }
}
