/* les couleur de base que je vais utiliser sur mon cv */
:root{
   --bgcolor:#beb8ac;
   --blue:#2fb7fe;
   color: black;
   color: white;
   color: gray;
   color: lightgray;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: var(--bgcolor);
}


/* Les . permet de tirer des classe de htlm grace a leur
identification de nom puis les apporter des modifications precis*/


.clearfix{
    clear: both;
}

/* colore le contenu en blanc et donne une marge a mon cv */
.resume-box{
    width: 800px;
    height: 1000px;
    margin: 100px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 21px 20px 20px #3d3f4238;
}

/* colore l'en tete en couleur, float permet de colorer
la partie gauche en noire avec quelque precision */
.left-section{
    background: black;
    width: 250px;
    height: 1000px;
    float: left;
}

/* traite la photo */
.profile{
    overflow: hidden;
    position: relative;
}


/* donner des mesure a une petite parti et la colorer
puis donner l'angle */
.blue-box{
    width: 257px;
    height: 407px;
    background: var(--blue);
    margin-left:-100px;
    transform: rotateZ(48deg);
    margin-top: -178px;
}

/* Ficher la position de l'img avec des donnés */
.profil-im{
    position: absolute;
    z-index: 9;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    border-radius:50%;
    border: 3px solid gray;
}

/* Modifer la taille position couleur de mon nom */
.name{
    color: gray;
    text-align: center;
    margin-top: -34px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Modifier le contenu du span */
.name span{
    color: var(--blue);
}

/* tier sur le html la classe n-p puis la modifier en le
rencadrandrant des barres puis le center et le donner une couleur*/
.n-p{
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-top: 11px;
    text-transform: uppercase;
}

/* Je vais chercher info??? */
.info{
    margin-top: 50px;
}

/* Meme chose que pour heading */
.heading{
    width: 180px;
    margin: 0 auto;
    padding: 7px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    text-transform: uppercase;
}

/* taille et modification du contenu adresse, mail... */
.p1{
    color: gray;
    width: 184px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 15px;
    line-height: 17px;
}

/*  */
.p1 span{
    font-size: 12px;
}

/* la taille des logo social */
.span1 img{
    background: white;
    width: 30px;
    padding: 6px;
    border-radius: 16px;
    float: left;
    margin-right: 10px;
}

/* Classer la section droite les logo et ecriture
dans l'ordre avec des dimensions precises */
.right-section{
    padding: 40px 30px;
    background: var(--white);
    width: 68%;
    float: left;
    height: 1000px;
}

/*  */
.right-section img{
    background: var(--black);
    width: 36px;
    padding: 7px;
    border-radius: 17px;
    float: left;
    display: inline-block;
    margin-top: 0px;
}

/*  */
.p2{
    margin: 0 auto;
    padding: 2px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 50px;
    line-height: 18px;
}

/*  */
.p3{
    margin-top: 20px;
    color: black;
    text-align: justify;
    word-spacing: -4px;
}

.left{
    width: 75%;
    float: left;
}

/* espacement entre les ecrits encadrer et les ecrits simples (profil) */
.lr-box{
    margin-top: 10px;
    margin-bottom: 20px;
}

.p4{
    font-size: 17px;
    font-weight: 600px;
    font-family: serif;
    color: rgb(126, 121, 121);
}



/* .left{
    width: 25%;
    float: left;
}

.right{
    width: 75%;
    float: left;
}

.lr-box{
    margin-top: 20px;
    margin-bottom: 20px;
}

.p4{
    font-size: 12px;
    font-weight: 600;
}

.p5{
    font-size: 12px;
    color: var(--lightgray);
}

.s-box{
 
}*/

#progress{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}

#progress:after{
    content: '';
    display: block;
    background: var(--blue);
    width: 85%;
    height: 100%;
    border-radius: 9px;
}

#progress1{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}

#progress1:after{
    content: '';
    display: block;
    background: var(--blue);
    width: 90%;
    height: 100%;
    border-radius: 9px;
}

#progress2{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}

#progress2:after{
    content: '';
    display: block;
    background: var(--blue);
    width: 68%;
    height: 100%;
    border-radius: 9px;
}

#progress3{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}

#progress3:after{
    content: '';
    display: block;
    background: var(--blue);
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

.s-box .p6{
    font-family: 'Times New Roman';
}

.p6{
    margin-top: 19px;
    margin-bottom: 10px;
}


.s-box{
    width: 50%;
    float: left;
    padding: 20px 20px 20px 0px;
} 